{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".css"]
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}
